

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&family=Shantell+Sans:ital@1&family=Source+Sans+Pro&display=swap');
.logo {
    width: 80px;
}
.logo{
    padding-top: 10px;
}
img.logo{
    border-radius: 20%;
}
#logo_link{
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    
}
header{
    display:grid;
    grid-template-columns: 150px auto;
    background-color: #6B7683;
    opacity: 0.8;
    font-size: 3vw;
}
.hero{
    font-size:3vw;
}
#content {
    max-width: 1600px;
    margin:0 auto;
    /*background-color: aliceblue;*/
    
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-decoration: none;
    color: #dee0e3;
    padding: 35px;
}
nav a:hover, .button-box:hover, footer a:hover{
    color: darkred;
}
#hero{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -100px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
}
#hero-img{
    width: 100%;
    max-width: 1600px;
    height: auto;
}
.home-title{
    font-family: "Shantell Sans", Arial, Helvetica;
    color:#495867;
    text-align: center;
}
.button-box{
    text-align: center;
    color: #23297a;
}
.flex-container{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    max-width: 1600px;
    align-items: center;
}
.box1{
    width:50%;
    padding: 5px;
    font-size: 2vw;
}
.box2{
    width:50%;
    padding:5px;
} 
.box2 img{
    border-radius: 20%;
}
.responsive{
    max-width: 100%;
    height:auto;
    width:auto;
}

footer{
    background-color: #6B7683;
    padding: 25px 50px;
    margin-top: 200px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color:#23297a;
    text-decoration:none;
    padding: 10px; 
    text-align: left;
}
footer p{
    font-size:1em;
    padding:5px, 5px;
    text-align: center;
}
footer p a:hover{
    text-decoration: underline;
    padding:5px, 5px;
}
footer.social img{
    padding-top: 15px;
    padding:5px, 5px;
}