
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Rokkitt:wght@300&family=Shantell+Sans:ital@1&display=swap');


.logo {
    /*width: 80px;*/
    width: 10vw;
    padding-top: 10px;
    padding-left: 20px;
}
.logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;   
}
header{
    display:grid;
    grid-template-columns: 150px auto;
    background-color: #6B7683;
    opacity: 0.8;
    font-size: 3vw;
    font-family: "Noto Sans", 'Lucinda Sans';
}
.hero{
    font-size:3vw;
}
#content {
    max-width: 1600px;
    margin:0 auto;   
}
nav {
    padding-top: 12px;
    display: flex;
    justify-content: space-around;
}
nav a {
    text-decoration: none;
    color: #dee0e3;
    padding: 25px;
}
nav a:hover, .button-box a:hover, footer a:hover{
    color: darkred;
}
#hero{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -100px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    text-align: center;
    font-size: 4vw;
    margin-top: 10px;
}
#hero-img{
    width: 100%;
    max-width: 1600px;
    height: auto;
}
.home-title{
    font-family: "Shantell Sans", Arial, Helvetica;
    color:darkred;
    text-align: center;
}
h1, h2, h3, h4 {
    font-family: "Shantell Sans", Arial, Helvetica; 
}
p, dl{
    font-family: "Noto Serif", Arial, sans-serif;
}
.button-box{
    text-align: center;
    color: #23297a;
    font-size: large;
}
.flex-container{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    max-width: 1600px;
    align-items: center;
}
.box1{
    width:50%;
    padding: 5px;
    font-size: 2vw;
}
.box2{
    width:50%;
    padding:5px;
} 
.box2 img{
    border-radius: 20%;
}
/*flexcontainer on Services page*/
.flex-container-services{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    max-width: 1600px;
    align-items: center;
}
.servicesb{
    width:100%;
    padding:5px;
} 
.servicesb img{
    /*border-radius: 20%;*/
    max-width: 100%;
}
.flex-container{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    max-width: 1600px;
    align-items: center;
}
.taxaimg{
    width:100%;
    padding:5px;
} 
.taxaimg img{
    /*border-radius: 20%;*/
    max-width: 100%;
}
#flex-container2{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    max-width: 1600px;
    align-items: center;
}
.order2{
    width:100%;
    padding:5px;
} 
.order2 img{
    /*border-radius: 20%;*/
    max-width: 100%;
}
.duedates{
    padding: 1px;
    font-size: 2vw;
}
.responsive{
    max-width: 100%;
    height:auto;
    width:auto;
}
/*Services page Organizer buttons*/
.btn-group {
    /*align the buttons themselves in the middle of the page */
    text-align: center;
}
.btn-group button {
    font-family: "Shantell Sans", Arial, Helvetica;
    background-color: #6B7683; /* Green background */
    border: 2px solid #495867; /* Green border */
    color: white; /* White text */
    padding: 20px 24px; /* Some padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin:4px 2px;
    cursor: pointer; /* Pointer/hand icon */
    /*float: left; /* Float the buttons side by side */
    border-radius: 20px;
    /*center all of the buttons*/
   
}
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #8B0000;
  }
  .center-vp{
    text-align: center;
    font-size: 2vw;
  }

footer{
    background-color: #6B7683;
    opacity: 0.8;
    padding: 5px 5px;
    margin-top: 25px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Noto Sans", 'Lucida Sans';
    font-size: 1em;
    font-weight: 500;
}
footer a p{
    color: #dee0e3;
    text-decoration:none;
    padding: 10px; 
    text-align: left;
}
footer a:hover{
    text-decoration: underline;
    padding:5px 5px;
}
footer.social img{
    padding-top: 5px;
    padding:5px 5px;
}
/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
    nav{
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      grid-template-columns: 1fr;
      display: grid;
    }
    .header {
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    nav a{
        padding: 5px;
    }
    footer{
        display:grid;
        justify-content: left;
        font-size: 3vw;
    }
}
    
